# only for enable thermal and add yt 4k support
# by ZyCromerZ @ 2020

# Initialization
on property:sys.boot_completed=1
    setprop spectrum.support 0
    setprop sys.display-size 3840x2160
    # for set mode spectrum
    setprop persist.spectrum.profile 0
    setprop persist.spectrum.kernel kernelname
    # Report max frequency to unity tasks.
    write /proc/sys/kernel/sched_lib_name "UnityMain,libunity.so"
    write /proc/sys/kernel/sched_lib_mask_force 255