# kernel manaeger,inspired from SPECTRUM KERNEL MANAGER
# by ZyCromerZ @ 2020

# Initialization
on property:sys.boot_completed=1
    setprop spectrum.support 1
    setprop sys.display-size 3840x2160
    setprop persist.spectrum.kernel kernelname
    # chmod
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy0/*
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy4/*
    chmod 0644 /sys/block/mmcblk0/queue/*
    chmod 0644 /sys/block/sda/queue/*
    chmod 0644 /sys/block/sdb/queue/*
    chmod 0644 /sys/block/sdc/queue/*
    # chonw
    chown system system /sys/devices/system/cpu/cpufreq/policy0/*
    chown system system /sys/devices/system/cpu/cpufreq/policy4/*
    chown system system /sys/block/mmcblk0/queue/*
    chown system system /sys/block/sda/queue/*
    chown system system /sys/block/sdb/queue/*
    chown system system /sys/block/sdc/queue/*

on property:sys.post_boot.parsed=1
    # chmod
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy0/*
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy4/*
    chmod 0644 /sys/block/mmcblk0/queue/*
    chmod 0644 /sys/block/sda/queue/*
    chmod 0644 /sys/block/sdb/queue/*
    chmod 0644 /sys/block/sdc/queue/*
    # chonw
    chown system system /sys/devices/system/cpu/cpufreq/policy0/*
    chown system system /sys/devices/system/cpu/cpufreq/policy4/*
    chown system system /sys/block/mmcblk0/queue/*
    chown system system /sys/block/sda/queue/*
    chown system system /sys/block/sdb/queue/*
    chown system system /sys/block/sdc/queue/*
    setprop vendor.post_boot.parsed 1

on property:vendor.post_boot.parsed=1
    setprop sys.display-size 3840x2160
    # for set mode spectrum
    setprop persist.spectrum.profile 0
    # tweak thermal
    chmod 0644 /sys/class/thermal/thermal_message/sconfig
    write /sys/class/thermal/thermal_message/sconfig 10
    chmod 0444 /sys/class/thermal/thermal_message/sconfig

# Battery
on property:persist.spectrum.profile=2
    # CPU TWEAK
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy0/scaling_governor
    write /sys/devices/system/cpu/cpufreq/policy0/scaling_governor conservative
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy6/scaling_governor
    write /sys/devices/system/cpu/cpufreq/policy6/scaling_governor conservative
    restorecon -R /sys/devices/system/cpu
    chonw system system /sys/devices/system/cpu/cpufreq/conservative/*
    chmod 0644 /sys/devices/system/cpu/cpufreq/conservative/*
    write /sys/devices/system/cpu/cpufreq/conservative/up_threshold "95"
    write /sys/devices/system/cpu/cpufreq/conservative/sampling_rate "120000"
    write /sys/devices/system/cpu/cpufreq/conservative/sampling_down_factor "1"
    write /sys/devices/system/cpu/cpufreq/conservative/down_threshold "40"
    write /sys/devices/system/cpu/cpufreq/conservative/freq_step "10"
    # scheduler TWEAK
    write /sys/block/mmcblk0/queue/scheduler anxiety
    write /sys/block/mmcblk0/queue/read_ahead 1024
    write /sys/block/mmcblk0/queue/nr_request 512
    write /sys/block/mmcblk0/queue/rq_affinity 1
    write /sys/block/mmcblk0/queue/add_random 1
    write /sys/block/mmcblk0/queue/rational 1
    write /sys/block/sda/queue/scheduler anxiety
    write /sys/block/sda/queue/read_ahead 1024
    write /sys/block/sda/queue/nr_request 512
    write /sys/block/sda/queue/rq_affinity 1
    write /sys/block/sda/queue/add_random 1
    write /sys/block/sda/queue/rational 1
    write /sys/block/sdb/queue/scheduler anxiety
    write /sys/block/sdb/queue/read_ahead 1024
    write /sys/block/sdb/queue/nr_request 512
    write /sys/block/sdb/queue/rq_affinity 1
    write /sys/block/sdb/queue/add_random 1
    write /sys/block/sdb/queue/rational 1
    write /sys/block/sdc/queue/scheduler anxiety
    write /sys/block/sdc/queue/read_ahead 1024
    write /sys/block/sdc/queue/nr_request 512
    write /sys/block/sdc/queue/rq_affinity 1
    write /sys/block/sdc/queue/add_random 1
    write /sys/block/sdc/queue/rational 1
    # tweak thermal
    chmod 0644 /sys/class/thermal/thermal_message/sconfig
    write /sys/class/thermal/thermal_message/sconfig 10
    chmod 0444 /sys/class/thermal/thermal_message/sconfig

# balance
on property:persist.spectrum.profile=0
    # CPU TWEAK
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy0/scaling_governor
    write /sys/devices/system/cpu/cpufreq/policy0/scaling_governor schedutil
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy6/scaling_governor
    write /sys/devices/system/cpu/cpufreq/policy6/scaling_governor schedutil
    restorecon -R /sys/devices/system/cpu
    chonw system system /sys/devices/system/cpu/cpufreq/schedutil/*
    chmod 0644 /sys/devices/system/cpu/cpufreq/schedutil/*
    write /sys/devices/system/cpu/cpufreq/schedutil/down_rate_limit_us 10000
    write /sys/devices/system/cpu/cpufreq/schedutil/up_rate_limit_us 10000
    # scheduler TWEAK
    write /sys/block/mmcblk0/queue/scheduler cfq
    write /sys/block/mmcblk0/queue/read_ahead 2048
    write /sys/block/mmcblk0/queue/nr_request 1024
    write /sys/block/mmcblk0/queue/rq_affinity 1
    write /sys/block/mmcblk0/queue/add_random 1
    write /sys/block/mmcblk0/queue/rational 0
    write /sys/block/sda/queue/scheduler cfq
    write /sys/block/sda/queue/read_ahead 2048
    write /sys/block/sda/queue/nr_request 1024
    write /sys/block/sda/queue/rq_affinity 1
    write /sys/block/sda/queue/add_random 1
    write /sys/block/sda/queue/rational 0
    write /sys/block/sdb/queue/scheduler cfq
    write /sys/block/sdb/queue/read_ahead 2048
    write /sys/block/sdb/queue/nr_request 1024
    write /sys/block/sdb/queue/rq_affinity 1
    write /sys/block/sdb/queue/add_random 1
    write /sys/block/sdb/queue/rational 0
    write /sys/block/sdc/queue/scheduler cfq
    write /sys/block/sdc/queue/read_ahead 2048
    write /sys/block/sdc/queue/nr_request 1024
    write /sys/block/sdc/queue/rq_affinity 1
    write /sys/block/sdc/queue/add_random 1
    write /sys/block/sdc/queue/rational 0
    # tweak thermal
    chmod 0644 /sys/class/thermal/thermal_message/sconfig
    write /sys/class/thermal/thermal_message/sconfig 10
    chmod 0444 /sys/class/thermal/thermal_message/sconfig

# Gaming
on property:persist.spectrum.profile=3
    # CPU TWEAK
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy0/scaling_governor
    write /sys/devices/system/cpu/cpufreq/policy0/scaling_governor schedutil
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy6/scaling_governor
    write /sys/devices/system/cpu/cpufreq/policy6/scaling_governor schedutil
    restorecon -R /sys/devices/system/cpu
    chonw system system /sys/devices/system/cpu/cpufreq/schedutil/*
    chmod 0644 /sys/devices/system/cpu/cpufreq/schedutil/*
    write /sys/devices/system/cpu/cpufreq/schedutil/down_rate_limit_us 900000
    write /sys/devices/system/cpu/cpufreq/schedutil/up_rate_limit_us 100
    # scheduler TWEAK
    write /sys/block/mmcblk0/queue/scheduler deadline
    write /sys/block/mmcblk0/queue/read_ahead 4096
    write /sys/block/mmcblk0/queue/nr_request 2048
    write /sys/block/mmcblk0/queue/rq_affinity 2
    write /sys/block/mmcblk0/queue/add_random 0
    write /sys/block/mmcblk0/queue/rational 0
    write /sys/block/sda/queue/scheduler deadline
    write /sys/block/sda/queue/read_ahead 4096
    write /sys/block/sda/queue/nr_request 2048
    write /sys/block/sda/queue/rq_affinity 2
    write /sys/block/sda/queue/add_random 0
    write /sys/block/sda/queue/rational 0
    write /sys/block/sdb/queue/scheduler deadline
    write /sys/block/sdb/queue/read_ahead 4096
    write /sys/block/sdb/queue/nr_request 2048
    write /sys/block/sdb/queue/rq_affinity 2
    write /sys/block/sdb/queue/add_random 0
    write /sys/block/sdb/queue/rational 0
    write /sys/block/sdc/queue/scheduler deadline
    write /sys/block/sdc/queue/read_ahead 4096
    write /sys/block/sdc/queue/nr_request 2048
    write /sys/block/sdc/queue/rq_affinity 2
    write /sys/block/sdc/queue/add_random 0
    write /sys/block/sdc/queue/rational 0
    # tweak thermal
    chmod 0644 /sys/class/thermal/thermal_message/sconfig
    write /sys/class/thermal/thermal_message/sconfig "-1"
    chmod 0444 /sys/class/thermal/thermal_message/sconfig

# Performance
on property:persist.spectrum.profile=1
    # CPU TWEAK
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy0/scaling_governor
    write /sys/devices/system/cpu/cpufreq/policy0/scaling_governor schedutil
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy6/scaling_governor
    write /sys/devices/system/cpu/cpufreq/policy6/scaling_governor schedutil
    restorecon -R /sys/devices/system/cpu
    chonw system system /sys/devices/system/cpu/cpufreq/schedutil/*
    chmod 0644 /sys/devices/system/cpu/cpufreq/schedutil/*
    write /sys/devices/system/cpu/cpufreq/schedutil/down_rate_limit_us 900000
    write /sys/devices/system/cpu/cpufreq/schedutil/up_rate_limit_us 500
    # scheduler TWEAK
    write /sys/block/mmcblk0/queue/scheduler deadline
    write /sys/block/mmcblk0/queue/read_ahead 4096
    write /sys/block/mmcblk0/queue/nr_request 2048
    write /sys/block/mmcblk0/queue/rq_affinity 1
    write /sys/block/mmcblk0/queue/add_random 0
    write /sys/block/mmcblk0/queue/rational 0
    write /sys/block/sda/queue/scheduler deadline
    write /sys/block/sda/queue/read_ahead 4096
    write /sys/block/sda/queue/nr_request 2048
    write /sys/block/sda/queue/rq_affinity 1
    write /sys/block/sda/queue/add_random 0
    write /sys/block/sda/queue/rational 0
    write /sys/block/sdb/queue/scheduler deadline
    write /sys/block/sdb/queue/read_ahead 4096
    write /sys/block/sdb/queue/nr_request 2048
    write /sys/block/sdb/queue/rq_affinity 1
    write /sys/block/sdb/queue/add_random 0
    write /sys/block/sdb/queue/rational 0
    write /sys/block/sdc/queue/scheduler deadline
    write /sys/block/sdc/queue/read_ahead 4096
    write /sys/block/sdc/queue/nr_request 2048
    write /sys/block/sdc/queue/rq_affinity 1
    write /sys/block/sdc/queue/add_random 0
    write /sys/block/sdc/queue/rational 0
    # tweak thermal
    chmod 0644 /sys/class/thermal/thermal_message/sconfig
    write /sys/class/thermal/thermal_message/sconfig 13
    chmod 0444 /sys/class/thermal/thermal_message/sconfig