# only for enable thermal and add yt 4k support
# by ZyCromerZ @ 2020

# Initialization
on property:sys.boot_completed=1
    setprop sys.display-size 3840x2160
    # tweak thermal
    chmod 0644 /sys/class/thermal/thermal_message/sconfig
    write /sys/class/thermal/thermal_message/sconfig 10
    chmod 0444 /sys/class/thermal/thermal_message/sconfig
    # for set mode spectrum
    setprop persist.spectrum.profile 0

on property:sys.post_boot.parsed=1
    # tweak thermal
    chmod 0644 /sys/class/thermal/thermal_message/sconfig
    write /sys/class/thermal/thermal_message/sconfig 10
    chmod 0444 /sys/class/thermal/thermal_message/sconfig
    setprop vendor.post_boot.parsed 1

on property:vendor.post_boot.parsed=1
    setprop sys.display-size 3840x2160
    # for set mode spectrum
    setprop persist.spectrum.profile 0
    # tweak thermal
    chmod 0644 /sys/class/thermal/thermal_message/sconfig
    write /sys/class/thermal/thermal_message/sconfig 10
    chmod 0444 /sys/class/thermal/thermal_message/sconfig