# kernel manaeger,inspired from SPECTRUM KERNEL MANAGER
# by ZyCromerZ @ 2019

# Initialization
on property:sys.boot_completed=1
    sleep 2
    # If there is not a persist value, we need to set one
    if [ ! -f /data/property/persist.spectrum.profile ]; then
        setprop persist.spectrum.profile 0
    fi
    # sh set vibration
    write /sys/class/timed_output/vibrator/vtg_level 1656
    setprop spectrum.support 1
    # chmod
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy0/*
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy4/*
    # chonw
    chown system system /sys/devices/system/cpu/cpufreq/policy0/*
    chown system system /sys/devices/system/cpu/cpufreq/policy4/*
    # chmod
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy0/*
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy4/*
    # chonw
    chown system system /sys/devices/system/cpu/cpufreq/policy0/*
    chown system system /sys/devices/system/cpu/cpufreq/policy4/*

# Battery
on property:persist.spectrum.profile=2
    sleep 2
    ## Little gov
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy0/scaling_governor
    write /sys/devices/system/cpu/cpufreq/policy0/scaling_governor schedutil
    restorecon -R /sys/devices/system/cpu ## must restore after schedutil
    ## Little min freq
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy0/scaling_min_freq
    write /sys/devices/system/cpu/cpufreq/policy0/scaling_min_freq "300000"
    ## Little max freq
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy0/scaling_max_freq
    write /sys/devices/system/cpu/cpufreq/policy0/scaling_max_freq "1747200"
    ## Little min info
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy0/cpuinfo_min_freq
    write /sys/devices/system/cpu/cpufreq/policy0/cpuinfo_min_freq "300000"
    ## Little max info
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy0/cpuinfo_max_freq
    write /sys/devices/system/cpu/cpufreq/policy0/cpuinfo_max_freq "1747200"
    ## Big gov
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy4/scaling_governor
    write /sys/devices/system/cpu/cpufreq/policy4/scaling_governor powersave
    restorecon -R /sys/devices/system/cpu ## must restore after powersave
    ## Big min freq
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy4/scaling_min_freq
    write /sys/devices/system/cpu/cpufreq/policy4/scaling_min_freq "300000"
    ## Big max freq
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy4/scaling_max_freq
    write /sys/devices/system/cpu/cpufreq/policy4/scaling_max_freq "1401600"
    ## Big min info
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy4/cpuinfo_min_freq
    write /sys/devices/system/cpu/cpufreq/policy4/cpuinfo_min_freq "300000"
    ## Big max info
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy4/cpuinfo_max_freq
    write /sys/devices/system/cpu/cpufreq/policy4/cpuinfo_max_freq "1401600"
    ## GPU
    write /sys/class/kgsl/kgsl-3d0/devfreq/max_freq 465000000
    write /sys/class/kgsl/kgsl-3d0/devfreq/min_freq 160000000
    write /sys/class/kgsl/kgsl-3d0/max_clock_mhz 465
    write /sys/class/kgsl/kgsl-3d0/min_clock_mhz 160
    write /sys/class/kgsl/kgsl-3d0/devfreq/governor "msm-adreno-tz"
    write /sys/class/kgsl/kgsl-3d0/devfreq/adrenoboost 0
    write /sys/class/kgsl/kgsl-3d0/throttling 1
    ## I/O Scheduler
    write /sys/block/mmcblk0/queue/scheduler anxiety
    write /sys/block/mmcblk1/queue/scheduler anxiety

# balance
on property:persist.spectrum.profile=0
    sleep 2
    ## Little gov
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy0/scaling_governor
    write /sys/devices/system/cpu/cpufreq/policy0/scaling_governor interactive
    restorecon -R /sys/devices/system/cpu ## must restore after interactive
    ## Little min freq
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy0/scaling_min_freq
    write /sys/devices/system/cpu/cpufreq/policy0/scaling_min_freq "300000"
    ## Little max freq
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy0/scaling_max_freq
    write /sys/devices/system/cpu/cpufreq/policy0/scaling_max_freq "1843200"
    ## Little min info
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy0/cpuinfo_min_freq
    write /sys/devices/system/cpu/cpufreq/policy0/cpuinfo_min_freq "300000"
    ## Little max info
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy0/cpuinfo_max_freq
    write /sys/devices/system/cpu/cpufreq/policy0/cpuinfo_max_freq "1843200"
    ## Little gov Setting
    chown system system /sys/devices/system/cpu/cpufreq/policy0/interactive/*
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy0/interactive/*
    write /sys/devices/system/cpu/cpufreq/policy0/interactive/target_loads "70 300000:43 633600:63 902400:73 1113600:76 1401600:82 1536000:84 1747200:85 1843200:99"
    write /sys/devices/system/cpu/cpufreq/policy0/interactive/above_hispeed_delay "0 300000:50000 633600:60000 902400:75000 1401600:80000 1747200:100000 1843200:150000"
    write /sys/devices/system/cpu/cpufreq/policy0/interactive/hispeed_freq 902400
    write /sys/devices/system/cpu/cpufreq/policy0/interactive/go_hispeed_load 65
    write /sys/devices/system/cpu/cpufreq/policy0/interactive/align_windows 1
    ## Big gov
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy4/scaling_governor
    write /sys/devices/system/cpu/cpufreq/policy4/scaling_governor interactive
    restorecon -R /sys/devices/system/cpu ## must restore after interactive
    ## Big min freq
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy4/scaling_min_freq
    write /sys/devices/system/cpu/cpufreq/policy4/scaling_min_freq "300000"
    ## Big max freq
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy4/scaling_max_freq
    write /sys/devices/system/cpu/cpufreq/policy4/scaling_max_freq "2208000"
    ## Big min info
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy4/cpuinfo_min_freq
    write /sys/devices/system/cpu/cpufreq/policy4/cpuinfo_min_freq "300000"
    ## Big max info
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy4/cpuinfo_max_freq
    write /sys/devices/system/cpu/cpufreq/policy4/cpuinfo_max_freq "2208000"
    ## Big gov Setting
    chonw system system /sys/devices/system/cpu/cpufreq/policy4/interactive/*
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy4/interactive/*
    write /sys/devices/system/cpu/cpufreq/policy4/interactive/target_loads "90 300000:43 633600:62 921600:74 1113600:76 1401600:78 1747200:80 1958400:82 2150400:83 2208000:99"
    write /sys/devices/system/cpu/cpufreq/policy4/interactive/above_hispeed_delay "32000 300000:50000 633600:60000 921600:75000 1401600:80000 2150400:100000 2208000:150000"
    write /sys/devices/system/cpu/cpufreq/policy4/interactive/hispeed_freq 1401600
    write /sys/devices/system/cpu/cpufreq/policy4/interactive/go_hispeed_load 85
    write /sys/devices/system/cpu/cpufreq/policy4/interactive/align_windows 1
    ## GPU
    # write /sys/class/kgsl/kgsl-3d0/devfreq/max_freq 750000000
    write /sys/class/kgsl/kgsl-3d0/devfreq/max_freq 585000000
    write /sys/class/kgsl/kgsl-3d0/devfreq/min_freq 160000000
    # write /sys/class/kgsl/kgsl-3d0/max_clock_mhz 750
    write /sys/class/kgsl/kgsl-3d0/max_clock_mhz 585
    write /sys/class/kgsl/kgsl-3d0/min_clock_mhz 160
    write /sys/class/kgsl/kgsl-3d0/devfreq/governor "msm-adreno-tz"
    write /sys/class/kgsl/kgsl-3d0/devfreq/adrenoboost 0
    write /sys/class/kgsl/kgsl-3d0/throttling 1
    ## I/O Scheduler
    write /sys/block/mmcblk0/queue/scheduler cfq
    write /sys/block/mmcblk1/queue/scheduler cfq

# Gaming
on property:persist.spectrum.profile=3
    sleep 2
    ## Little gov
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy0/scaling_governor
    write /sys/devices/system/cpu/cpufreq/policy0/scaling_governor interactive
    restorecon -R /sys/devices/system/cpu ## must restore after interactive
    ## Little min freq
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy0/scaling_min_freq
    write /sys/devices/system/cpu/cpufreq/policy0/scaling_min_freq "300000"
    ## Little max freq
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy0/scaling_max_freq
    write /sys/devices/system/cpu/cpufreq/policy0/scaling_max_freq "1843200"
    ## Little min info
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy0/cpuinfo_min_freq
    write /sys/devices/system/cpu/cpufreq/policy0/cpuinfo_min_freq "300000"
    ## Little max info
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy0/cpuinfo_max_freq
    write /sys/devices/system/cpu/cpufreq/policy0/cpuinfo_max_freq "1843200"
    ## Little gov Setting
    chown system system /sys/devices/system/cpu/cpufreq/policy0/interactive/*
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy0/interactive/*
    write /sys/devices/system/cpu/cpufreq/policy0/interactive/target_loads "70 300000:43 633600:63 902400:73 1113600:76 1401600:82 1536000:84 1747200:85 1843200:99"
    write /sys/devices/system/cpu/cpufreq/policy0/interactive/above_hispeed_delay "0 300000:50000 633600:60000 902400:75000 1401600:80000 1747200:100000 1843200:150000"
    write /sys/devices/system/cpu/cpufreq/policy0/interactive/hispeed_freq 902400
    write /sys/devices/system/cpu/cpufreq/policy0/interactive/go_hispeed_load 65
    write /sys/devices/system/cpu/cpufreq/policy0/interactive/align_windows 1
    ## Big gov
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy4/scaling_governor
    write /sys/devices/system/cpu/cpufreq/policy4/scaling_governor interactive
    restorecon -R /sys/devices/system/cpu ## must restore after interactive
    ## Big min freq
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy4/scaling_min_freq
    write /sys/devices/system/cpu/cpufreq/policy4/scaling_min_freq "300000"
    ## Big max freq
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy4/scaling_max_freq
    write /sys/devices/system/cpu/cpufreq/policy4/scaling_max_freq "2208000"
    ## Big min info
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy4/cpuinfo_min_freq
    write /sys/devices/system/cpu/cpufreq/policy4/cpuinfo_min_freq "300000"
    ## Big max info
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy4/cpuinfo_max_freq
    write /sys/devices/system/cpu/cpufreq/policy4/scaling_max_freq "2208000"
    ## Big gov Setting
    chonw system system /sys/devices/system/cpu/cpufreq/policy4/interactive/*
    chmod 0644 /sys/devices/system/cpu/cpufreq/policy4/interactive/*
    write /sys/devices/system/cpu/cpufreq/policy4/interactive/target_loads "90 300000:43 633600:62 921600:74 1113600:76 1401600:78 1747200:80 1958400:82 2150400:83 2208000:99"
    write /sys/devices/system/cpu/cpufreq/policy4/interactive/above_hispeed_delay "32000 300000:50000 633600:60000 921600:75000 1401600:80000 2150400:100000 2208000:150000"
    write /sys/devices/system/cpu/cpufreq/policy4/interactive/hispeed_freq 2208000
    write /sys/devices/system/cpu/cpufreq/policy4/interactive/go_hispeed_load 85
    write /sys/devices/system/cpu/cpufreq/policy4/interactive/align_windows 1
    ## GPU
    write /sys/class/kgsl/kgsl-3d0/devfreq/max_freq 585000000
    write /sys/class/kgsl/kgsl-3d0/devfreq/min_freq 160000000
    write /sys/class/kgsl/kgsl-3d0/max_clock_mhz 585
    write /sys/class/kgsl/kgsl-3d0/min_clock_mhz 160
    write /sys/class/kgsl/kgsl-3d0/devfreq/governor "msm-adreno-tz"
    write /sys/class/kgsl/kgsl-3d0/devfreq/adrenoboost 3
    write /sys/class/kgsl/kgsl-3d0/throttling 0
    ## I/O Scheduler
    write /sys/block/mmcblk0/queue/scheduler cfq
    write /sys/block/mmcblk1/queue/scheduler cfq

on property:persist.spectrum.profile=1
    setprop persist.spectrum.profile 0